eksempler/kildekode/csharp/Kl06.Eksempler/Service References/Soap/LaereplanSpoerringSoap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://psi.udir.no/kl06/2016/04" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://psi.udir.no/kl06/2013/11" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LaereplanSpoerringSoap" targetNamespace="http://psi.udir.no/kl06/2016/04" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://psi.udir.no/kl06/2013/11" location="http://data.udir.no/kl06/soap?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://psi.udir.no/kl06/2016/04/Imports">
      <xsd:import schemaLocation="http://data.udir.no/kl06/soap?xsd=xsd0" namespace="http://psi.udir.no/kl06/2016/04" />
      <xsd:import schemaLocation="http://data.udir.no/kl06/soap?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GrepSoap_FinnPlaner_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnPlaner" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnPlaner_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnPlanerResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentPlanFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentPlanFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentPlanFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentPlanFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentPlanFraPsi_InputMessage">
    <wsdl:part name="parameters" element="tns:HentPlanFraPsi" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentPlanFraPsi_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentPlanFraPsiResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnFagkoder_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnFagkoder" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnFagkoder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnFagkoderResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentFagkodeFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentFagkodeFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentFagkodeFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentFagkodeFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentFagkodeFraPsi_InputMessage">
    <wsdl:part name="parameters" element="tns:HentFagkodeFraPsi" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentFagkodeFraPsi_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentFagkodeFraPsiResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnOpplaeringsfag_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnOpplaeringsfag" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnOpplaeringsfag_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnOpplaeringsfagResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentOpplaeringsfagFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentOpplaeringsfagFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentOpplaeringsfagFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentOpplaeringsfagFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentOpplaeringsfagFraPsi_InputMessage">
    <wsdl:part name="parameters" element="tns:HentOpplaeringsfagFraPsi" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentOpplaeringsfagFraPsi_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentOpplaeringsfagFraPsiResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnUtdanningsprogram_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnUtdanningsprogram" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnUtdanningsprogram_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnUtdanningsprogramResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentUtdanningsprogramFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentUtdanningsprogramFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentUtdanningsprogramFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentUtdanningsprogramFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentUtdanningsprogramFraPsi_InputMessage">
    <wsdl:part name="parameters" element="tns:HentUtdanningsprogramFraPsi" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentUtdanningsprogramFraPsi_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentUtdanningsprogramFraPsiResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnProgramomraader_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnProgramomraader" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnProgramomraader_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnProgramomraaderResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentProgramomraadeFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentProgramomraadeFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentProgramomraadeFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentProgramomraadeFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentProgramomraadeFraPsi_InputMessage">
    <wsdl:part name="parameters" element="tns:HentProgramomraadeFraPsi" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentProgramomraadeFraPsi_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentProgramomraadeFraPsiResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnMerknader_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnMerknader" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnMerknader_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnMerknaderResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentMerknadFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentMerknadFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentMerknadFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentMerknadFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentMerknadFraPsi_InputMessage">
    <wsdl:part name="parameters" element="tns:HentMerknadFraPsi" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentMerknadFraPsi_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentMerknadFraPsiResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnMerkelapper_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnMerkelapper" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnMerkelapper_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnMerkelapperResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentMerkelappFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentMerkelappFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentMerkelappFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentMerkelappFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentMerkelappFraPsi_InputMessage">
    <wsdl:part name="parameters" element="tns:HentMerkelappFraPsi" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentMerkelappFraPsi_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentMerkelappFraPsiResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnKompetansemaal_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnKompetansemaal" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnKompetansemaal_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnKompetansemaalResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentKompetansemaalFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentKompetansemaalFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentKompetansemaalFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentKompetansemaalFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentKompetansemaalFraPsi_InputMessage">
    <wsdl:part name="parameters" element="tns:HentKompetansemaalFraPsi" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentKompetansemaalFraPsi_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentKompetansemaalFraPsiResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnFagomraader_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnFagomraader" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnFagomraader_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnFagomraaderResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentFagomraadeFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentFagomraadeFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentFagomraadeFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentFagomraadeFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentFagomraadeFraPsi_InputMessage">
    <wsdl:part name="parameters" element="tns:HentFagomraadeFraPsi" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentFagomraadeFraPsi_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentFagomraadeFraPsiResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnFagkategorier_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnFagkategorier" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnFagkategorier_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnFagkategorierResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentFagkategoriFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentFagkategoriFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentFagkategoriFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentFagkategoriFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentFagkategoriFraPsi_InputMessage">
    <wsdl:part name="parameters" element="tns:HentFagkategoriFraPsi" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentFagkategoriFraPsi_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentFagkategoriFraPsiResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnAarstrinn_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnAarstrinn" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnAarstrinn_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnAarstrinnResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentAarstrinnFraPsi_InputMessage">
    <wsdl:part name="parameters" element="tns:HentAarstrinnFraPsi" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentAarstrinnFraPsi_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentAarstrinnFraPsiResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentAarstrinnFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentAarstrinnFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentAarstrinnFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentAarstrinnFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnSpraak_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnSpraak" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnSpraak_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnSpraakResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentSpraakFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentSpraakFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentSpraakFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentSpraakFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnStatus" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentStatusFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentStatusFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentStatusFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentStatusFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnOpplaeringsnivaa_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnOpplaeringsnivaa" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnOpplaeringsnivaa_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnOpplaeringsnivaaResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentOpplaeringsnivaaFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentOpplaeringsnivaaFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentOpplaeringsnivaaFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentOpplaeringsnivaaFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnFagtype_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnFagtype" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnFagtype_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnFagtypeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentFagtypeFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentFagtypeFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentFagtypeFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentFagtypeFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnKompetansemaalsett_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnKompetansemaalsett" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnKompetansemaalsett_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnKompetansemaalsettResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentKompetansemaalsettFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentKompetansemaalsettFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentKompetansemaalsettFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentKompetansemaalsettFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnHovedomraade_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnHovedomraade" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnHovedomraade_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnHovedomraadeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentHovedomraadeFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentHovedomraadeFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentHovedomraadeFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentHovedomraadeFraKodeResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnProgramfag_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnProgramfag" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_FinnProgramfag_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnProgramfagResponse" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentProgramfagFraKode_InputMessage">
    <wsdl:part name="parameters" element="tns:HentProgramfagFraKode" />
  </wsdl:message>
  <wsdl:message name="GrepSoap_HentProgramfagFraKode_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentProgramfagFraKodeResponse" />
  </wsdl:message>
  <wsdl:portType name="GrepSoap">
    <wsdl:operation name="FinnPlaner">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnPlaner" message="tns:GrepSoap_FinnPlaner_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnPlanerResponse" message="tns:GrepSoap_FinnPlaner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentPlanFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentPlanFraKode" message="tns:GrepSoap_HentPlanFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentPlanFraKodeResponse" message="tns:GrepSoap_HentPlanFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentPlanFraPsi">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentPlanFraPsi" message="tns:GrepSoap_HentPlanFraPsi_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentPlanFraPsiResponse" message="tns:GrepSoap_HentPlanFraPsi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnFagkoder">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnFagkoder" message="tns:GrepSoap_FinnFagkoder_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnFagkoderResponse" message="tns:GrepSoap_FinnFagkoder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentFagkodeFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentFagkodeFraKode" message="tns:GrepSoap_HentFagkodeFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentFagkodeFraKodeResponse" message="tns:GrepSoap_HentFagkodeFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentFagkodeFraPsi">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentFagkodeFraPsi" message="tns:GrepSoap_HentFagkodeFraPsi_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentFagkodeFraPsiResponse" message="tns:GrepSoap_HentFagkodeFraPsi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnOpplaeringsfag">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnOpplaeringsfag" message="tns:GrepSoap_FinnOpplaeringsfag_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnOpplaeringsfagResponse" message="tns:GrepSoap_FinnOpplaeringsfag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentOpplaeringsfagFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentOpplaeringsfagFraKode" message="tns:GrepSoap_HentOpplaeringsfagFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentOpplaeringsfagFraKodeResponse" message="tns:GrepSoap_HentOpplaeringsfagFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentOpplaeringsfagFraPsi">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentOpplaeringsfagFraPsi" message="tns:GrepSoap_HentOpplaeringsfagFraPsi_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentOpplaeringsfagFraPsiResponse" message="tns:GrepSoap_HentOpplaeringsfagFraPsi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnUtdanningsprogram">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnUtdanningsprogram" message="tns:GrepSoap_FinnUtdanningsprogram_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnUtdanningsprogramResponse" message="tns:GrepSoap_FinnUtdanningsprogram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentUtdanningsprogramFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentUtdanningsprogramFraKode" message="tns:GrepSoap_HentUtdanningsprogramFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentUtdanningsprogramFraKodeResponse" message="tns:GrepSoap_HentUtdanningsprogramFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentUtdanningsprogramFraPsi">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentUtdanningsprogramFraPsi" message="tns:GrepSoap_HentUtdanningsprogramFraPsi_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentUtdanningsprogramFraPsiResponse" message="tns:GrepSoap_HentUtdanningsprogramFraPsi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnProgramomraader">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnProgramomraader" message="tns:GrepSoap_FinnProgramomraader_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnProgramomraaderResponse" message="tns:GrepSoap_FinnProgramomraader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentProgramomraadeFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentProgramomraadeFraKode" message="tns:GrepSoap_HentProgramomraadeFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentProgramomraadeFraKodeResponse" message="tns:GrepSoap_HentProgramomraadeFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentProgramomraadeFraPsi">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentProgramomraadeFraPsi" message="tns:GrepSoap_HentProgramomraadeFraPsi_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentProgramomraadeFraPsiResponse" message="tns:GrepSoap_HentProgramomraadeFraPsi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnMerknader">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnMerknader" message="tns:GrepSoap_FinnMerknader_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnMerknaderResponse" message="tns:GrepSoap_FinnMerknader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentMerknadFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentMerknadFraKode" message="tns:GrepSoap_HentMerknadFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentMerknadFraKodeResponse" message="tns:GrepSoap_HentMerknadFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentMerknadFraPsi">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentMerknadFraPsi" message="tns:GrepSoap_HentMerknadFraPsi_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentMerknadFraPsiResponse" message="tns:GrepSoap_HentMerknadFraPsi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnMerkelapper">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnMerkelapper" message="tns:GrepSoap_FinnMerkelapper_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnMerkelapperResponse" message="tns:GrepSoap_FinnMerkelapper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentMerkelappFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentMerkelappFraKode" message="tns:GrepSoap_HentMerkelappFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentMerkelappFraKodeResponse" message="tns:GrepSoap_HentMerkelappFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentMerkelappFraPsi">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentMerkelappFraPsi" message="tns:GrepSoap_HentMerkelappFraPsi_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentMerkelappFraPsiResponse" message="tns:GrepSoap_HentMerkelappFraPsi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnKompetansemaal">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnKompetansemaal" message="tns:GrepSoap_FinnKompetansemaal_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnKompetansemaalResponse" message="tns:GrepSoap_FinnKompetansemaal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentKompetansemaalFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentKompetansemaalFraKode" message="tns:GrepSoap_HentKompetansemaalFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentKompetansemaalFraKodeResponse" message="tns:GrepSoap_HentKompetansemaalFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentKompetansemaalFraPsi">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentKompetansemaalFraPsi" message="tns:GrepSoap_HentKompetansemaalFraPsi_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentKompetansemaalFraPsiResponse" message="tns:GrepSoap_HentKompetansemaalFraPsi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnFagomraader">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnFagomraader" message="tns:GrepSoap_FinnFagomraader_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnFagomraaderResponse" message="tns:GrepSoap_FinnFagomraader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentFagomraadeFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentFagomraadeFraKode" message="tns:GrepSoap_HentFagomraadeFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentFagomraadeFraKodeResponse" message="tns:GrepSoap_HentFagomraadeFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentFagomraadeFraPsi">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentFagomraadeFraPsi" message="tns:GrepSoap_HentFagomraadeFraPsi_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentFagomraadeFraPsiResponse" message="tns:GrepSoap_HentFagomraadeFraPsi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnFagkategorier">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnFagkategorier" message="tns:GrepSoap_FinnFagkategorier_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnFagkategorierResponse" message="tns:GrepSoap_FinnFagkategorier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentFagkategoriFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentFagkategoriFraKode" message="tns:GrepSoap_HentFagkategoriFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentFagkategoriFraKodeResponse" message="tns:GrepSoap_HentFagkategoriFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentFagkategoriFraPsi">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentFagkategoriFraPsi" message="tns:GrepSoap_HentFagkategoriFraPsi_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentFagkategoriFraPsiResponse" message="tns:GrepSoap_HentFagkategoriFraPsi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnAarstrinn">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnAarstrinn" message="tns:GrepSoap_FinnAarstrinn_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnAarstrinnResponse" message="tns:GrepSoap_FinnAarstrinn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentAarstrinnFraPsi">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentAarstrinnFraPsi" message="tns:GrepSoap_HentAarstrinnFraPsi_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentAarstrinnFraPsiResponse" message="tns:GrepSoap_HentAarstrinnFraPsi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentAarstrinnFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentAarstrinnFraKode" message="tns:GrepSoap_HentAarstrinnFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentAarstrinnFraKodeResponse" message="tns:GrepSoap_HentAarstrinnFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnSpraak">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnSpraak" message="tns:GrepSoap_FinnSpraak_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnSpraakResponse" message="tns:GrepSoap_FinnSpraak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentSpraakFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentSpraakFraKode" message="tns:GrepSoap_HentSpraakFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentSpraakFraKodeResponse" message="tns:GrepSoap_HentSpraakFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnStatus">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnStatus" message="tns:GrepSoap_FinnStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnStatusResponse" message="tns:GrepSoap_FinnStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentStatusFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentStatusFraKode" message="tns:GrepSoap_HentStatusFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentStatusFraKodeResponse" message="tns:GrepSoap_HentStatusFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnOpplaeringsnivaa">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnOpplaeringsnivaa" message="tns:GrepSoap_FinnOpplaeringsnivaa_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnOpplaeringsnivaaResponse" message="tns:GrepSoap_FinnOpplaeringsnivaa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentOpplaeringsnivaaFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentOpplaeringsnivaaFraKode" message="tns:GrepSoap_HentOpplaeringsnivaaFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentOpplaeringsnivaaFraKodeResponse" message="tns:GrepSoap_HentOpplaeringsnivaaFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnFagtype">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnFagtype" message="tns:GrepSoap_FinnFagtype_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnFagtypeResponse" message="tns:GrepSoap_FinnFagtype_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentFagtypeFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentFagtypeFraKode" message="tns:GrepSoap_HentFagtypeFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentFagtypeFraKodeResponse" message="tns:GrepSoap_HentFagtypeFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnKompetansemaalsett">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnKompetansemaalsett" message="tns:GrepSoap_FinnKompetansemaalsett_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnKompetansemaalsettResponse" message="tns:GrepSoap_FinnKompetansemaalsett_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentKompetansemaalsettFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentKompetansemaalsettFraKode" message="tns:GrepSoap_HentKompetansemaalsettFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentKompetansemaalsettFraKodeResponse" message="tns:GrepSoap_HentKompetansemaalsettFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnHovedomraade">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnHovedomraade" message="tns:GrepSoap_FinnHovedomraade_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnHovedomraadeResponse" message="tns:GrepSoap_FinnHovedomraade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentHovedomraadeFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentHovedomraadeFraKode" message="tns:GrepSoap_HentHovedomraadeFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentHovedomraadeFraKodeResponse" message="tns:GrepSoap_HentHovedomraadeFraKode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnProgramfag">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnProgramfag" message="tns:GrepSoap_FinnProgramfag_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/FinnProgramfagResponse" message="tns:GrepSoap_FinnProgramfag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentProgramfagFraKode">
      <wsdl:input wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentProgramfagFraKode" message="tns:GrepSoap_HentProgramfagFraKode_InputMessage" />
      <wsdl:output wsaw:Action="http://psi.udir.no/kl06/2016/04/GrepSoap/HentProgramfagFraKodeResponse" message="tns:GrepSoap_HentProgramfagFraKode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="LaereplanSpoerringSoap">
    <wsdl:port name="GrepSoapBinding_GrepSoap" binding="i0:GrepSoapBinding_GrepSoap">
      <soap:address location="http://data.udir.no/kl06/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>