eksempler/kildekode/csharp/Kl06.Eksempler/Service References/Soap/soap1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://beta-psi.udir.no/kl06/2016/04" elementFormDefault="qualified" targetNamespace="http://beta-psi.udir.no/kl06/2016/04" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://beta-data.udir.no/kl06/soap?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="FinnPlaner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:laereplan-soek-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="laereplan-soek-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="gyldig-fra" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gyldig-til" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sist-endret" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tittel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="laereplan-soek-request" nillable="true" type="tns:laereplan-soek-request" />
  <xs:element name="FinnPlanerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinnPlanerResult" nillable="true" type="tns:laereplan-soek-respons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="laereplan-soek-respons">
    <xs:sequence>
      <xs:element minOccurs="0" name="treff" nillable="true" type="tns:ArrayOflaereplan-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="laereplan-soek-respons" nillable="true" type="tns:laereplan-soek-respons" />
  <xs:complexType name="ArrayOflaereplan-soekeresultat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="laereplan-soekeresultat" nillable="true" type="tns:laereplan-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflaereplan-soekeresultat" nillable="true" type="tns:ArrayOflaereplan-soekeresultat" />
  <xs:complexType name="laereplan-soekeresultat">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:soekeresultat">
        <xs:sequence>
          <xs:element minOccurs="0" name="gyldig-fra" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="gyldig-til" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="laereplan-soekeresultat" nillable="true" type="tns:laereplan-soekeresultat" />
  <xs:complexType name="soekeresultat">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sist-endret" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tittel" nillable="true" type="tns:ArrayOfspraakversjonert" />
      <xs:element minOccurs="0" name="url-data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url-psi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="soekeresultat" nillable="true" type="tns:soekeresultat" />
  <xs:complexType name="ArrayOfspraakversjonert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="spraakversjonert" nillable="true" type="tns:spraakversjonert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfspraakversjonert" nillable="true" type="tns:ArrayOfspraakversjonert" />
  <xs:complexType name="spraakversjonert">
    <xs:sequence>
      <xs:element minOccurs="0" name="noekkel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="verdi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="spraakversjonert" nillable="true" type="tns:spraakversjonert" />
  <xs:element name="HentPlanFraKode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kode" nillable="true" type="tns:hent-laereplan-fra-kode-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-laereplan-fra-kode-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="Kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-laereplan-fra-kode-request" nillable="true" type="tns:hent-laereplan-fra-kode-request" />
  <xs:element name="HentPlanFraKodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentPlanFraKodeResult" nillable="true" type="tns:laereplan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="laereplan">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hovedelement">
        <xs:sequence>
          <xs:element minOccurs="0" name="fagtype" nillable="true" type="tns:hjelpedataverdi" />
          <xs:element minOccurs="0" name="fastsettelsesinformasjon" nillable="true" type="tns:fastsettelsesinformasjon" />
          <xs:element minOccurs="0" name="gyldig-fra-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="gyldig-fra" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="gyldig-til-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="gyldig-til" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="erstatter" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="erstattet-av" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="tilgjengelige-spraak" nillable="true" type="tns:ArrayOfhjelpedataverdi" />
          <xs:element minOccurs="0" name="formaal-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="formaal" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="timetall-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="timetall" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="struktur-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="struktur" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="grunnleggende-ferdigheter-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="grunnleggende-ferdigheter-beskrivelse" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="grunnleggende-ferdigheter-muntlig-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="grunnleggende-ferdigheter-muntlig" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="grunnleggende-ferdigheter-skriftlig-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="grunnleggende-ferdigheter-skriftlig" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="grunnleggende-ferdigheter-lese-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="grunnleggende-ferdigheter-lese" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="grunnleggende-ferdigheter-regne-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="grunnleggende-ferdigheter-regne" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="grunnleggende-ferdigheter-digitale-verktoey-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="grunnleggende-ferdigheter-digitale-verktoey" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="grunnleggende-ferdigheter-fritekst" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="hovedomraade-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="hovedomraade-innledning" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="hovedomraader" nillable="true" type="tns:ArrayOfhovedomraade" />
          <xs:element minOccurs="0" name="hovedomraade-fritekst" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="kompetansemaal-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="kompetansemaal-innledning" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="maal-for-kompetansemaalene-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="kompetansemaalsett" nillable="true" type="tns:ArrayOfkompetansemaalsett" />
          <xs:element minOccurs="0" name="vurdering-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="vurdering" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="merkelapper" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="opplaeringsnivaa" nillable="true" type="tns:ArrayOfhjelpedataverdi" />
          <xs:element minOccurs="0" name="siste-eksamen" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="soekehjelp-navn-motsatt-maalform" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sorter-hovedomraader-under-programfag" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="laereplan" nillable="true" type="tns:laereplan" />
  <xs:complexType name="hovedelement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseelement">
        <xs:sequence>
          <xs:element minOccurs="0" name="sist-endret" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="hovedelement" nillable="true" type="tns:hovedelement" />
  <xs:complexType name="baseelement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:base">
        <xs:sequence>
          <xs:element minOccurs="0" name="tittel" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="status" nillable="true" type="tns:hjelpedataverdi" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="baseelement" nillable="true" type="tns:baseelement" />
  <xs:complexType name="base">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url-data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url-psi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="base" nillable="true" type="tns:base" />
  <xs:complexType name="hjelpedataverdi">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="hjelpedataverdi" Namespace="http://beta-psi.udir.no/kl06/2016/04" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="noekkel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="beskrivelse" nillable="true" type="tns:ArrayOfspraakversjonert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hjelpedataverdi" nillable="true" type="tns:hjelpedataverdi" />
  <xs:complexType name="fastsettelsesinformasjon">
    <xs:sequence>
      <xs:element minOccurs="0" name="fastsatt-dato" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fastsettelsestekst" nillable="true" type="tns:ArrayOfspraakversjonert" />
      <xs:element minOccurs="0" name="fastsatt-spraak" nillable="true" type="tns:hjelpedataverdi" />
      <xs:element minOccurs="0" name="fastsatt-dato-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fastsettelsesinformasjon" nillable="true" type="tns:fastsettelsesinformasjon" />
  <xs:complexType name="ArrayOfreferanse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="referanse" nillable="true" type="tns:referanse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfreferanse" nillable="true" type="tns:ArrayOfreferanse" />
  <xs:complexType name="referanse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:base">
        <xs:sequence>
          <xs:element minOccurs="0" name="tittel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="referanse" nillable="true" type="tns:referanse" />
  <xs:complexType name="ArrayOfhjelpedataverdi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="hjelpedataverdi" nillable="true" type="tns:hjelpedataverdi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfhjelpedataverdi" nillable="true" type="tns:ArrayOfhjelpedataverdi" />
  <xs:complexType name="ArrayOfhovedomraade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="hovedomraade" nillable="true" type="tns:hovedomraade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfhovedomraade" nillable="true" type="tns:ArrayOfhovedomraade" />
  <xs:complexType name="hovedomraade">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseelement">
        <xs:sequence>
          <xs:element minOccurs="0" name="beskrivelse" nillable="true" type="tns:ArrayOfspraakversjonert" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="hovedomraade" nillable="true" type="tns:hovedomraade" />
  <xs:complexType name="ArrayOfkompetansemaalsett">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kompetansemaalsett" nillable="true" type="tns:kompetansemaalsett" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfkompetansemaalsett" nillable="true" type="tns:ArrayOfkompetansemaalsett" />
  <xs:complexType name="kompetansemaalsett">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseelement">
        <xs:sequence>
          <xs:element minOccurs="0" name="rekkefoelge" type="xs:int" />
          <xs:element minOccurs="0" name="etter-fag" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="etter-aarstrinn" nillable="true" type="tns:ArrayOfhjelpedataverdi" />
          <xs:element minOccurs="0" name="hovedomraader" nillable="true" type="tns:ArrayOfhovedomraade-i-kompetansemaalsett" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="kompetansemaalsett" nillable="true" type="tns:kompetansemaalsett" />
  <xs:complexType name="ArrayOfhovedomraade-i-kompetansemaalsett">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="hovedomraade-i-kompetansemaalsett" nillable="true" type="tns:hovedomraade-i-kompetansemaalsett" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfhovedomraade-i-kompetansemaalsett" nillable="true" type="tns:ArrayOfhovedomraade-i-kompetansemaalsett" />
  <xs:complexType name="hovedomraade-i-kompetansemaalsett">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseelement">
        <xs:sequence>
          <xs:element minOccurs="0" name="beskrivelse" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="kompetansemaal" nillable="true" type="tns:ArrayOfkompetansemaal-referanse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="hovedomraade-i-kompetansemaalsett" nillable="true" type="tns:hovedomraade-i-kompetansemaalsett" />
  <xs:complexType name="ArrayOfkompetansemaal-referanse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kompetansemaal-referanse" nillable="true" type="tns:kompetansemaal-referanse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfkompetansemaal-referanse" nillable="true" type="tns:ArrayOfkompetansemaal-referanse" />
  <xs:complexType name="kompetansemaal-referanse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:referanse">
        <xs:sequence>
          <xs:element minOccurs="0" name="rekkefoelge" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="kompetansemaal-referanse" nillable="true" type="tns:kompetansemaal-referanse" />
  <xs:element name="HentPlanFraPsi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="psi" nillable="true" type="tns:hent-laereplan-fra-psi-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-laereplan-fra-psi-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="psi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-laereplan-fra-psi-request" nillable="true" type="tns:hent-laereplan-fra-psi-request" />
  <xs:element name="HentPlanFraPsiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentPlanFraPsiResult" nillable="true" type="tns:laereplan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinnFagkoder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:fagkode-soek-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="fagkode-soek-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sist-endret" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tittel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fagkode-soek-request" nillable="true" type="tns:fagkode-soek-request" />
  <xs:element name="FinnFagkoderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinnFagkoderResult" nillable="true" type="tns:fagkode-soek-respons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="fagkode-soek-respons">
    <xs:sequence>
      <xs:element minOccurs="0" name="treff" nillable="true" type="tns:ArrayOffagkode-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fagkode-soek-respons" nillable="true" type="tns:fagkode-soek-respons" />
  <xs:complexType name="ArrayOffagkode-soekeresultat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fagkode-soekeresultat" nillable="true" type="tns:fagkode-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffagkode-soekeresultat" nillable="true" type="tns:ArrayOffagkode-soekeresultat" />
  <xs:complexType name="fagkode-soekeresultat">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:soekeresultat">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="fagkode-soekeresultat" nillable="true" type="tns:fagkode-soekeresultat" />
  <xs:element name="HentFagkodeFraKode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-fagkode-fra-kode-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-fagkode-fra-kode-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-fagkode-fra-kode-request" nillable="true" type="tns:hent-fagkode-fra-kode-request" />
  <xs:element name="HentFagkodeFraKodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentFagkodeFraKodeResult" nillable="true" type="tns:fagkode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="fagkode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:fag">
        <xs:sequence>
          <xs:element minOccurs="0" name="erstatter" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="fagtype" nillable="true" type="tns:hjelpedataverdi" />
          <xs:element minOccurs="0" name="erstattes-av" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="opplaeringsnivaa" nillable="true" type="tns:hjelpedataverdi" />
          <xs:element minOccurs="0" name="omfang-totalt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="omfang-vitnemaal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="omfang-brutto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="omfang-kompetansemaalsett" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="opplaeringsfag" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="naar-kan-man-ta-eksamen" nillable="true" type="tns:eksamensgyldighet" />
          <xs:element minOccurs="0" name="naar-gis-det-undervisning" nillable="true" type="tns:semesterperiode" />
          <xs:element minOccurs="0" name="vurdering-privatist" nillable="true" type="tns:vurdering" />
          <xs:element minOccurs="0" name="vurdering-elev-laerling" nillable="true" type="tns:vurdering" />
          <xs:element minOccurs="0" name="sensur" nillable="true" type="tns:hjelpedataverdi" />
          <xs:element minOccurs="0" name="oppgave" nillable="true" type="tns:hjelpedataverdi" />
          <xs:element minOccurs="0" name="merknader" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="tilknyttede-programomraader" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="bygger-paa-fag" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="merkelapper" nillable="true" type="tns:ArrayOfreferanse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="fagkode" nillable="true" type="tns:fagkode" />
  <xs:complexType name="fag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hovedelement">
        <xs:sequence>
          <xs:element minOccurs="0" name="kortform" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="erstatter" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="erstattes-av" nillable="true" type="tns:ArrayOfreferanse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="fag" nillable="true" type="tns:fag" />
  <xs:complexType name="eksamensgyldighet">
    <xs:sequence>
      <xs:element minOccurs="0" name="foerste-semester" nillable="true" type="tns:hjelpedataverdi" />
      <xs:element minOccurs="0" name="siste-semester" nillable="true" type="tns:hjelpedataverdi" />
      <xs:element minOccurs="0" name="semester-uten-eksamen" nillable="true" type="tns:ArrayOfhjelpedataverdi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eksamensgyldighet" nillable="true" type="tns:eksamensgyldighet" />
  <xs:complexType name="semesterperiode">
    <xs:sequence>
      <xs:element minOccurs="0" name="foerste-semester" nillable="true" type="tns:hjelpedataverdi" />
      <xs:element minOccurs="0" name="siste-semester" nillable="true" type="tns:hjelpedataverdi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="semesterperiode" nillable="true" type="tns:semesterperiode" />
  <xs:complexType name="vurdering">
    <xs:sequence>
      <xs:element minOccurs="0" name="eksamensform-paa-vitnemaalet" nillable="true" type="tns:hjelpedataverdi" />
      <xs:element minOccurs="0" name="standpunktvurdering" type="xs:boolean" />
      <xs:element minOccurs="0" name="vurderingsform" nillable="true" type="tns:hjelpedataverdi" />
      <xs:element minOccurs="0" name="hoeyeste-nivaa" type="xs:boolean" />
      <xs:element minOccurs="0" name="type-eksamensfag" nillable="true" type="tns:hjelpedataverdi" />
      <xs:element minOccurs="0" name="type-eksamensordning" nillable="true" type="tns:hjelpedataverdi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vurdering" nillable="true" type="tns:vurdering" />
  <xs:element name="HentFagkodeFraPsi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-fagkode-fra-psi-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-fagkode-fra-psi-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="psi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-fagkode-fra-psi-request" nillable="true" type="tns:hent-fagkode-fra-psi-request" />
  <xs:element name="HentFagkodeFraPsiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentFagkodeFraPsiResult" nillable="true" type="tns:fagkode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinnOpplaeringsfag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:opplaeringsfag-soek-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="opplaeringsfag-soek-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sist-endret" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tittel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="opplaeringsfag-soek-request" nillable="true" type="tns:opplaeringsfag-soek-request" />
  <xs:element name="FinnOpplaeringsfagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinnOpplaeringsfagResult" nillable="true" type="tns:opplaeringsfag-soek-respons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="opplaeringsfag-soek-respons">
    <xs:sequence>
      <xs:element minOccurs="0" name="treff" nillable="true" type="tns:ArrayOfopplaeringsfag-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="opplaeringsfag-soek-respons" nillable="true" type="tns:opplaeringsfag-soek-respons" />
  <xs:complexType name="ArrayOfopplaeringsfag-soekeresultat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opplaeringsfag-soekeresultat" nillable="true" type="tns:opplaeringsfag-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfopplaeringsfag-soekeresultat" nillable="true" type="tns:ArrayOfopplaeringsfag-soekeresultat" />
  <xs:complexType name="opplaeringsfag-soekeresultat">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:soekeresultat">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="opplaeringsfag-soekeresultat" nillable="true" type="tns:opplaeringsfag-soekeresultat" />
  <xs:element name="HentOpplaeringsfagFraKode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-opplaeringsfag-fra-kode-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-opplaeringsfag-fra-kode-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-opplaeringsfag-fra-kode-request" nillable="true" type="tns:hent-opplaeringsfag-fra-kode-request" />
  <xs:element name="HentOpplaeringsfagFraKodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentOpplaeringsfagFraKodeResult" nillable="true" type="tns:opplaeringsfag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="opplaeringsfag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:fag">
        <xs:sequence>
          <xs:element minOccurs="0" name="fagtype" nillable="true" type="tns:hjelpedataverdi" />
          <xs:element minOccurs="0" name="opplaeringsnivaa" nillable="true" type="tns:hjelpedataverdi" />
          <xs:element minOccurs="0" name="merknader" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="programoraader-referanse" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="laereplan-referanse" nillable="true" type="tns:ArrayOflaereplan-referanse" />
          <xs:element minOccurs="0" name="merkelapper" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="bygger-paa-fag" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="fagkode-referanser" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="fagomraade-referanser" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="kortform" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="erstatter" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="erstattes-av" nillable="true" type="tns:ArrayOfreferanse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="opplaeringsfag" nillable="true" type="tns:opplaeringsfag" />
  <xs:complexType name="ArrayOflaereplan-referanse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="laereplan-referanse" nillable="true" type="tns:laereplan-referanse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflaereplan-referanse" nillable="true" type="tns:ArrayOflaereplan-referanse" />
  <xs:complexType name="laereplan-referanse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:referanse">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tilhoerende-kompetansemaalsett" nillable="true" type="q1:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="laereplan-referanse" nillable="true" type="tns:laereplan-referanse" />
  <xs:element name="HentOpplaeringsfagFraPsi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-opplaeringsfag-fra-psi-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-opplaeringsfag-fra-psi-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="psi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-opplaeringsfag-fra-psi-request" nillable="true" type="tns:hent-opplaeringsfag-fra-psi-request" />
  <xs:element name="HentOpplaeringsfagFraPsiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentOpplaeringsfagFraPsiResult" nillable="true" type="tns:opplaeringsfag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinnUtdanningsprogram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:utdanningsprogram-soek-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="utdanningsprogram-soek-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sist-endret" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tittel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="utdanningsprogram-soek-request" nillable="true" type="tns:utdanningsprogram-soek-request" />
  <xs:element name="FinnUtdanningsprogramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinnUtdanningsprogramResult" nillable="true" type="tns:utdanningsprogram-soek-respons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="utdanningsprogram-soek-respons">
    <xs:sequence>
      <xs:element minOccurs="0" name="treff" nillable="true" type="tns:ArrayOfutdanningsprogram-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="utdanningsprogram-soek-respons" nillable="true" type="tns:utdanningsprogram-soek-respons" />
  <xs:complexType name="ArrayOfutdanningsprogram-soekeresultat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="utdanningsprogram-soekeresultat" nillable="true" type="tns:utdanningsprogram-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfutdanningsprogram-soekeresultat" nillable="true" type="tns:ArrayOfutdanningsprogram-soekeresultat" />
  <xs:complexType name="utdanningsprogram-soekeresultat">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:soekeresultat">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="utdanningsprogram-soekeresultat" nillable="true" type="tns:utdanningsprogram-soekeresultat" />
  <xs:element name="HentUtdanningsprogramFraKode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-utdanningsprogram-fra-kode-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-utdanningsprogram-fra-kode-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-utdanningsprogram-fra-kode-request" nillable="true" type="tns:hent-utdanningsprogram-fra-kode-request" />
  <xs:element name="HentUtdanningsprogramFraKodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentUtdanningsprogramFraKodeResult" nillable="true" type="tns:utdanningsprogram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="utdanningsprogram">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hovedelement">
        <xs:sequence>
          <xs:element minOccurs="0" name="kortform" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="type-utdanningsprogram" nillable="true" type="tns:hjelpedataverdi" />
          <xs:element minOccurs="0" name="beskrivelse" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="erstatter-utdanningsprogram" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="foerste-semester" nillable="true" type="tns:hjelpedataverdi" />
          <xs:element minOccurs="0" name="siste-semester" nillable="true" type="tns:hjelpedataverdi" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="utdanningsprogram" nillable="true" type="tns:utdanningsprogram" />
  <xs:element name="HentUtdanningsprogramFraPsi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-utdanningsprogram-fra-psi-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-utdanningsprogram-fra-psi-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="psi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-utdanningsprogram-fra-psi-request" nillable="true" type="tns:hent-utdanningsprogram-fra-psi-request" />
  <xs:element name="HentUtdanningsprogramFraPsiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentUtdanningsprogramFraPsiResult" nillable="true" type="tns:utdanningsprogram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinnProgramomraader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:programomraade-soek-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="programomraade-soek-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sist-endret" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tittel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="programomraade-soek-request" nillable="true" type="tns:programomraade-soek-request" />
  <xs:element name="FinnProgramomraaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinnProgramomraaderResult" nillable="true" type="tns:programomraade-soek-respons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="programomraade-soek-respons">
    <xs:sequence>
      <xs:element minOccurs="0" name="treff" nillable="true" type="tns:ArrayOfprogramomraade-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="programomraade-soek-respons" nillable="true" type="tns:programomraade-soek-respons" />
  <xs:complexType name="ArrayOfprogramomraade-soekeresultat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="programomraade-soekeresultat" nillable="true" type="tns:programomraade-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfprogramomraade-soekeresultat" nillable="true" type="tns:ArrayOfprogramomraade-soekeresultat" />
  <xs:complexType name="programomraade-soekeresultat">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:soekeresultat">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="programomraade-soekeresultat" nillable="true" type="tns:programomraade-soekeresultat" />
  <xs:element name="HentProgramomraadeFraKode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-programomraade-fra-kode-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-programomraade-fra-kode-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-programomraade-fra-kode-request" nillable="true" type="tns:hent-programomraade-fra-kode-request" />
  <xs:element name="HentProgramomraadeFraKodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentProgramomraadeFraKodeResult" nillable="true" type="tns:programomraade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="programomraade">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hovedelement">
        <xs:sequence>
          <xs:element minOccurs="0" name="kortform" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="nasjonal-variant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="landslinje" type="xs:boolean" />
          <xs:element minOccurs="0" name="landsdekkende-linje" type="xs:boolean" />
          <xs:element minOccurs="0" name="programomraade-type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="aarstimer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="aarstimer-samisk" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="aarstimer-doeve-og-tunghoerte" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="aarstimer-formgivningsfag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="beskrivelse" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="merkelapper" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="foerste-semester" nillable="true" type="tns:hjelpedataverdi" />
          <xs:element minOccurs="0" name="siste-semester" nillable="true" type="tns:hjelpedataverdi" />
          <xs:element minOccurs="0" name="aarstrinn" nillable="true" type="tns:hjelpedataverdi" />
          <xs:element minOccurs="0" name="bygger-paa-programomraade" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="erstatter-programomraade" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="tilknyttede-utdanningsprogram" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="tilknyttede-laereplaner" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="yrkestittel" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="opplaeringssted" nillable="true" type="tns:ArrayOfhjelpedataverdi" />
          <xs:element minOccurs="0" name="sluttkompetanse" nillable="true" type="tns:ArrayOfhjelpedataverdi" />
          <xs:element minOccurs="0" name="opplaeringstid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="verdiskapingstid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="programomraade" nillable="true" type="tns:programomraade" />
  <xs:element name="HentProgramomraadeFraPsi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-programomraade-fra-psi-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-programomraade-fra-psi-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="psi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-programomraade-fra-psi-request" nillable="true" type="tns:hent-programomraade-fra-psi-request" />
  <xs:element name="HentProgramomraadeFraPsiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentProgramomraadeFraPsiResult" nillable="true" type="tns:programomraade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinnMerknader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:merknader-soek-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="merknader-soek-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sist-endret" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tittel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="merknader-soek-request" nillable="true" type="tns:merknader-soek-request" />
  <xs:element name="FinnMerknaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinnMerknaderResult" nillable="true" type="tns:merknad-soek-respons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="merknad-soek-respons">
    <xs:sequence>
      <xs:element minOccurs="0" name="treff" nillable="true" type="tns:ArrayOfmerknad-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="merknad-soek-respons" nillable="true" type="tns:merknad-soek-respons" />
  <xs:complexType name="ArrayOfmerknad-soekeresultat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="merknad-soekeresultat" nillable="true" type="tns:merknad-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmerknad-soekeresultat" nillable="true" type="tns:ArrayOfmerknad-soekeresultat" />
  <xs:complexType name="merknad-soekeresultat">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:soekeresultat">
        <xs:sequence>
          <xs:element minOccurs="0" name="gyldig-fra" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="gyldig-til" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="merknad-soekeresultat" nillable="true" type="tns:merknad-soekeresultat" />
  <xs:element name="HentMerknadFraKode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-merknad-fra-kode-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-merknad-fra-kode-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-merknad-fra-kode-request" nillable="true" type="tns:hent-merknad-fra-kode-request" />
  <xs:element name="HentMerknadFraKodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentMerknadFraKodeResult" nillable="true" type="tns:merknad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="merknad">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hovedelement">
        <xs:sequence>
          <xs:element minOccurs="0" name="kortform" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="merknads-type" nillable="true" type="tns:hjelpedataverdi" />
          <xs:element minOccurs="0" name="gyldig-fra-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="gyldig-fra" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="gyldig-til-overskrift" nillable="true" type="tns:ArrayOfspraakversjonert" />
          <xs:element minOccurs="0" name="gyldig-til" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="opplaeringsnivaa" nillable="true" type="tns:ArrayOfhjelpedataverdi" />
          <xs:element minOccurs="0" name="dokumenttype" nillable="true" type="tns:ArrayOfhjelpedataverdi" />
          <xs:element minOccurs="0" name="relaterte-fag" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="relaterte-aarstrinn" nillable="true" type="tns:ArrayOfhjelpedataverdi" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="merknad" nillable="true" type="tns:merknad" />
  <xs:element name="HentMerknadFraPsi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-merknad-fra-psi-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-merknad-fra-psi-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="psi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-merknad-fra-psi-request" nillable="true" type="tns:hent-merknad-fra-psi-request" />
  <xs:element name="HentMerknadFraPsiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentMerknadFraPsiResult" nillable="true" type="tns:merknad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinnMerkelapper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:merkelapp-soek-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="merkelapp-soek-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sist-endret" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tittel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="merkelapp-soek-request" nillable="true" type="tns:merkelapp-soek-request" />
  <xs:element name="FinnMerkelapperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinnMerkelapperResult" nillable="true" type="tns:merkelapp-soek-respons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="merkelapp-soek-respons">
    <xs:sequence>
      <xs:element minOccurs="0" name="treff" nillable="true" type="tns:ArrayOfmerkelapp-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="merkelapp-soek-respons" nillable="true" type="tns:merkelapp-soek-respons" />
  <xs:complexType name="ArrayOfmerkelapp-soekeresultat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="merkelapp-soekeresultat" nillable="true" type="tns:merkelapp-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmerkelapp-soekeresultat" nillable="true" type="tns:ArrayOfmerkelapp-soekeresultat" />
  <xs:complexType name="merkelapp-soekeresultat">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:soekeresultat">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="merkelapp-soekeresultat" nillable="true" type="tns:merkelapp-soekeresultat" />
  <xs:element name="HentMerkelappFraKode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-merkelapp-fra-kode-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-merkelapp-fra-kode-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-merkelapp-fra-kode-request" nillable="true" type="tns:hent-merkelapp-fra-kode-request" />
  <xs:element name="HentMerkelappFraKodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentMerkelappFraKodeResult" nillable="true" type="tns:merkelapp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="merkelapp">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hovedelement">
        <xs:sequence>
          <xs:element minOccurs="0" name="kan-knyttes-til-fag" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="kan-knyttes-til-laereplan" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="kan-knyttes-til-programomraade" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="tilknyttede-fag" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="tilknyttede-laereplaner" nillable="true" type="tns:ArrayOfreferanse" />
          <xs:element minOccurs="0" name="tilknyttede-programomraader" nillable="true" type="tns:ArrayOfreferanse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="merkelapp" nillable="true" type="tns:merkelapp" />
  <xs:element name="HentMerkelappFraPsi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-merkelapp-fra-psi-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-merkelapp-fra-psi-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="psi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-merkelapp-fra-psi-request" nillable="true" type="tns:hent-merkelapp-fra-psi-request" />
  <xs:element name="HentMerkelappFraPsiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentMerkelappFraPsiResult" nillable="true" type="tns:merkelapp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinnKompetansemaal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:kompetansemaal-soek-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="kompetansemaal-soek-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tittel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="kompetansemaal-soek-request" nillable="true" type="tns:kompetansemaal-soek-request" />
  <xs:element name="FinnKompetansemaalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinnKompetansemaalResult" nillable="true" type="tns:kompetansemaal-soek-respons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="kompetansemaal-soek-respons">
    <xs:sequence>
      <xs:element minOccurs="0" name="treff" nillable="true" type="tns:ArrayOfkompetansemaal-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="kompetansemaal-soek-respons" nillable="true" type="tns:kompetansemaal-soek-respons" />
  <xs:complexType name="ArrayOfkompetansemaal-soekeresultat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kompetansemaal-soekeresultat" nillable="true" type="tns:kompetansemaal-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfkompetansemaal-soekeresultat" nillable="true" type="tns:ArrayOfkompetansemaal-soekeresultat" />
  <xs:complexType name="kompetansemaal-soekeresultat">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:soekeresultat">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="kompetansemaal-soekeresultat" nillable="true" type="tns:kompetansemaal-soekeresultat" />
  <xs:element name="HentKompetansemaalFraKode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-kompetansemaal-fra-kode-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-kompetansemaal-fra-kode-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-kompetansemaal-fra-kode-request" nillable="true" type="tns:hent-kompetansemaal-fra-kode-request" />
  <xs:element name="HentKompetansemaalFraKodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentKompetansemaalFraKodeResult" nillable="true" type="tns:kompetansemaal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="kompetansemaal">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hovedelement">
        <xs:sequence>
          <xs:element minOccurs="0" name="laereplan-referanser" nillable="true" type="tns:ArrayOflaereplan-referanse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="kompetansemaal" nillable="true" type="tns:kompetansemaal" />
  <xs:element name="HentKompetansemaalFraPsi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-kompetansemaal-fra-psi-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-kompetansemaal-fra-psi-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="psi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-kompetansemaal-fra-psi-request" nillable="true" type="tns:hent-kompetansemaal-fra-psi-request" />
  <xs:element name="HentKompetansemaalFraPsiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentKompetansemaalFraPsiResult" nillable="true" type="tns:kompetansemaal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinnFagomraader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:fagomraader-soek-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="fagomraader-soek-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sist-endret" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tittel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fagomraader-soek-request" nillable="true" type="tns:fagomraader-soek-request" />
  <xs:element name="FinnFagomraaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinnFagomraaderResult" nillable="true" type="tns:fagomraader-soek-respons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="fagomraader-soek-respons">
    <xs:sequence>
      <xs:element minOccurs="0" name="treff" nillable="true" type="tns:ArrayOffagomraader-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fagomraader-soek-respons" nillable="true" type="tns:fagomraader-soek-respons" />
  <xs:complexType name="ArrayOffagomraader-soekeresultat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fagomraader-soekeresultat" nillable="true" type="tns:fagomraader-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffagomraader-soekeresultat" nillable="true" type="tns:ArrayOffagomraader-soekeresultat" />
  <xs:complexType name="fagomraader-soekeresultat">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:soekeresultat">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="fagomraader-soekeresultat" nillable="true" type="tns:fagomraader-soekeresultat" />
  <xs:element name="HentFagomraadeFraKode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-fagomraader-fra-kode-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-fagomraader-fra-kode-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-fagomraader-fra-kode-request" nillable="true" type="tns:hent-fagomraader-fra-kode-request" />
  <xs:element name="HentFagomraadeFraKodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentFagomraadeFraKodeResult" nillable="true" type="tns:fagomraade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="fagomraade">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hovedelement">
        <xs:sequence>
          <xs:element minOccurs="0" name="fagkategori" nillable="true" type="tns:referanse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="fagomraade" nillable="true" type="tns:fagomraade" />
  <xs:element name="HentFagomraadeFraPsi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-fagomraader-fra-psi-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-fagomraader-fra-psi-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="psi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-fagomraader-fra-psi-request" nillable="true" type="tns:hent-fagomraader-fra-psi-request" />
  <xs:element name="HentFagomraadeFraPsiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentFagomraadeFraPsiResult" nillable="true" type="tns:fagomraade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinnFagkategorier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:fagkategori-soek-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="fagkategori-soek-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sist-endret" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tittel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fagkategori-soek-request" nillable="true" type="tns:fagkategori-soek-request" />
  <xs:element name="FinnFagkategorierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinnFagkategorierResult" nillable="true" type="tns:fagkategori-soek-respons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="fagkategori-soek-respons">
    <xs:sequence>
      <xs:element minOccurs="0" name="treff" nillable="true" type="tns:ArrayOffagkategori-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fagkategori-soek-respons" nillable="true" type="tns:fagkategori-soek-respons" />
  <xs:complexType name="ArrayOffagkategori-soekeresultat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fagkategori-soekeresultat" nillable="true" type="tns:fagkategori-soekeresultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffagkategori-soekeresultat" nillable="true" type="tns:ArrayOffagkategori-soekeresultat" />
  <xs:complexType name="fagkategori-soekeresultat">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:soekeresultat">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="fagkategori-soekeresultat" nillable="true" type="tns:fagkategori-soekeresultat" />
  <xs:element name="HentFagkategoriFraKode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-fagkategori-fra-kode-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-fagkategori-fra-kode-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-fagkategori-fra-kode-request" nillable="true" type="tns:hent-fagkategori-fra-kode-request" />
  <xs:element name="HentFagkategoriFraKodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentFagkategoriFraKodeResult" nillable="true" type="tns:fagkategori" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="fagkategori">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hovedelement">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="fagkategori" nillable="true" type="tns:fagkategori" />
  <xs:element name="HentFagkategoriFraPsi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:hent-fagkategori-fra-psi-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="hent-fagkategori-fra-psi-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="psi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hent-fagkategori-fra-psi-request" nillable="true" type="tns:hent-fagkategori-fra-psi-request" />
  <xs:element name="HentFagkategoriFraPsiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentFagkategoriFraPsiResult" nillable="true" type="tns:fagkategori" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinnAarstrinn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:finn-aarstrinn-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="finn-aarstrinn-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="finn-aarstrinn-request" nillable="true" type="tns:finn-aarstrinn-request" />
  <xs:element name="FinnAarstrinnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinnAarstrinnResult" nillable="true" type="tns:finn-aarstrinn-respons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="finn-aarstrinn-respons">
    <xs:sequence>
      <xs:element minOccurs="0" name="treff" nillable="true" type="tns:ArrayOfaarstrinn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="finn-aarstrinn-respons" nillable="true" type="tns:finn-aarstrinn-respons" />
  <xs:complexType name="ArrayOfaarstrinn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aarstrinn" nillable="true" type="tns:aarstrinn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaarstrinn" nillable="true" type="tns:ArrayOfaarstrinn" />
  <xs:complexType name="aarstrinn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hovedelement">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="aarstrinn" nillable="true" type="tns:aarstrinn" />
  <xs:element name="HentAarstrinnFraPsi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:finn-rstrinn-fra-psi-request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="finn-rstrinn-fra-psi-request">
    <xs:sequence>
      <xs:element minOccurs="0" name="psi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valgt-spraak" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="finn-rstrinn-fra-psi-request" nillable="true" type="tns:finn-rstrinn-fra-psi-request" />
  <xs:element name="HentAarstrinnFraPsiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HentAarstrinnFraPsiResult" nillable="true" type="tns:aarstrinn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>